body {
    background-color: lightsalmon;
}

header > h1 {
    font-family: Courier;
    font-size: 50px;
    text-align: center;
}

a {
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

h2 {
    font-size: 28px;
    font-family: Impact, fantasy;
    color:firebrick;
    margin-left: 25px;
}

p {
    font-family: Courier New, monospace;
}

.about_me {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

.about {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}